Source: magnum
Priority: optional
Maintainer: Vladimír Vondruš <mosra@centrum.cz>
Build-Depends: debhelper (>= 9), cmake (>= 2.8.8)
Standards-Version: 3.9.2
Section: libs
Homepage: http://mosra.cz/blog/magnum.php
Vcs-Git: git://github.com/mosra/magnum.git
Vcs-Browser: https://github.com/mosra/magnum

Package: magnum-dev
Section: libdevel
Architecture: any
Depends: magnum (= ${binary:Version}), corrade-dev, libgl-dev, freeglut3-dev, libopenal-dev
Description: Magnum development files
 Headers and tools needed for developing with Magnum.

Package: magnum
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, corrage, libgl1, freeglut3, libopenal1
Description: C++11 and OpenGL 2D/3D graphics engine
 Magnum is 2D/3D graphics engine written in C++11 and modern OpenGL. Its goal
 is to simplify low-level graphics development and interaction with OpenGL
 using recent C++11 features and to abstract away platform-specific issues.
