#!/usr/bin/make -f

# For some crappy reason Ubuntu includes this flag by default when building deb
# packages. This breaks signal/slot connections across *.sos in
# Corrade::Interconnect library (which may affect for example connecting the
# signals to Application interfaces) and as said on the links below, it has
# some noticeable unintended/dangerous effects as well, so I'm just disabling
# it globally. See:
#  http://stackoverflow.com/questions/7216973/is-there-a-downside-to-using-bsymbolic-functions
#  https://software.intel.com/en-us/articles/performance-tools-for-software-developers-bsymbolic-can-cause-dangerous-side-effects
export DEB_LDFLAGS_MAINT_STRIP = -Wl,-Bsymbolic-functions

%:
	dh $@ --parallel

override_dh_auto_configure:
	dh_auto_configure -- \
		-DCMAKE_BUILD_TYPE=Release \
		-DMAGNUM_WITH_AUDIO=ON \
		-DMAGNUM_WITH_GLXAPPLICATION=ON \
		-DMAGNUM_WITH_GLFWAPPLICATION=ON \
		-DMAGNUM_WITH_SDL2APPLICATION=ON \
		-DMAGNUM_WITH_WINDOWLESSGLXAPPLICATION=ON \
		-DMAGNUM_WITH_GLXCONTEXT=ON \
		-DMAGNUM_WITH_OPENGLTESTER=ON \
		-DMAGNUM_WITH_ANYAUDIOIMPORTER=ON \
		-DMAGNUM_WITH_ANYIMAGECONVERTER=ON \
		-DMAGNUM_WITH_ANYIMAGEIMPORTER=ON \
		-DMAGNUM_WITH_ANYSCENECONVERTER=ON \
		-DMAGNUM_WITH_ANYSCENEIMPORTER=ON \
		-DMAGNUM_WITH_ANYSHADERCONVERTER=ON \
		-DMAGNUM_WITH_MAGNUMFONT=ON \
		-DMAGNUM_WITH_MAGNUMFONTCONVERTER=ON \
		-DMAGNUM_WITH_OBJIMPORTER=ON \
		-DMAGNUM_WITH_TGAIMAGECONVERTER=ON \
		-DMAGNUM_WITH_TGAIMPORTER=ON \
		-DMAGNUM_WITH_WAVAUDIOIMPORTER=ON \
		-DMAGNUM_WITH_DISTANCEFIELDCONVERTER=ON \
		-DMAGNUM_WITH_IMAGECONVERTER=ON \
		-DMAGNUM_WITH_SCENECONVERTER=ON \
		-DMAGNUM_WITH_SHADERCONVERTER=ON \
		-DMAGNUM_WITH_FONTCONVERTER=ON \
		-DMAGNUM_WITH_GL_INFO=ON \
		-DMAGNUM_WITH_AL_INFO=ON

# Extraordinarily coarse way to suppress error about libGL not being in
# dependencies when the user has installed NVidia binary drivers which are not
# in the repositories. Can't I just IGNORE A SIGNLE FILE DAMMIT?!
override_dh_shlibdeps:
		dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info
