body {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
    background-color: #111111;
    color: #aaaaaa;
}

h1 {
    text-align: center;
    font-size: 20px;
}

#listener {
    border-style: solid;
    border-color: #333333;
    border-width: 1px;
    padding: 1px;
    width: 640px;
    height: 480px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    position: relative;
}

#module {
    width: 640px;
    height: 480px;
    z-index: 10;
}

#status {
    position: absolute;
    width: 640px;
    text-align: center;
    top: 200px;
    font-size: 30px;
    font-weight: bold;
    z-index: 9;
}

#statusDescription {
    position: absolute;
    width: 640px;
    text-align: center;
    top: 250px;
    font-size: 15px;
    z-index: 9;
}

#module.hidden {
    display: none;
}

#log {
    width: 640px;
    height: 480px;
    overflow-y: scroll;
    overflow-x: hidden;
    white-space: pre-wrap;
    z-index: 10;
    margin: 0;
}
