/*
    This file is part of Magnum.

    Copyright © 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019,
                2020 Vladimír Vondruš <mosra@centrum.cz>

    Permission is hereby granted, free of charge, to any person obtaining a
    copy of this software and associated documentation files (the "Software"),
    to deal in the Software without restriction, including without limitation
    the rights to use, copy, modify, merge, publish, distribute, sublicense,
    and/or sell copies of the Software, and to permit persons to whom the
    Software is furnished to do so, subject to the following conditions:

    The above copyright notice and this permission notice shall be included
    in all copies or substantial portions of the Software.

    THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
    IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
    FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL
    THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
    LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING
    FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
    DEALINGS IN THE SOFTWARE.
*/

/* Colors kept in sync with m.css dark theme, http://mcss.mosra.cz */

*, ::before, ::after { box-sizing: border-box; }

body {
  margin: 1rem;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
  background-color: #2f363f; /*var(--background-color)*/
  color: #dcdcdc; /*var(--color)*/
}

/* #container         makes the canvas occupy the whole page width
   #sizer             centers it
   #expander          does aspect ratio preservation
   #listener          snaps to #expander edges
   #listener::before  does the border, which finally goes below the canvas */
#container {
  margin: 1rem -1rem 1rem -1rem;
}
#sizer {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  width: 640px;
}
#expander {
  position: relative;
}
#listener {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#listener::before {
  position: absolute;
  content: ' ';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  border-style: solid;
  border-width: 0.125rem;
  border-radius: 0.2rem; /*var(--border-radius)*/
  border-color: #405363; /*var(--line-color)*/
}

/* Canvas size and aspect ratio knobs */
#container.fullsize {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
}
#container.fullsize #sizer, #container.fullsize #expander {
  width: 100%; height: 100%;
}

#container.width-240 #sizer { width: 240px; }
#container.width-320 #sizer { width: 320px; }
#container.width-360 #sizer { width: 360px; }
#container.width-480 #sizer { width: 480px; }
#container.width-600 #sizer { width: 600px; }
#container.width-640 #sizer, #container #sizer {
  width: 640px; /* default */
}
#container.width-800 #sizer { width: 800px; }

#container.aspect-1-1 #expander { padding-bottom: 100%; }
#container.aspect-4-3 #expander, #container:not(.fullsize):not([class*='aspect-']) #expander {
  padding-bottom: 75%; /* default */
}
#container.aspect-3-4 #expander { padding-bottom: 133.3333%; }
#container.aspect-3-2 #expander { padding-bottom: 66.6667%; }
#container.aspect-2-3 #expander { padding-bottom: 150%; }
#container.aspect-16-9 #expander { padding-bottom: 56.25% }
#container.aspect-9-16 #expander { padding-bottom: 177.7778% }
#container.aspect-2-1 #expander { padding-bottom: 50%; }
#container.aspect-1-2 #expander { padding-bottom: 200%; }

#canvas, pre#log {
  max-width: 100%;
  width: 100%;
  z-index: 10;
  border-radius: 0.2rem; /*var(--border-radius)*/
}
#canvas:focus { outline-color: #5b9dd9; } /*var(--header-link-current-color)*/
#canvas {
  height: 100%;
  margin-bottom: -0.25rem; /* otherwise there's scrollbar w/ fullsize (why?) */
}
#status, #status-description {
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 9;
}
#status {
  top: 10%;
  font-size: 1.5rem;
  font-weight: 600;
}
#status-description {
  top: 22.5%;
  padding-left: 2rem;
  padding-right: 2rem;
}
#canvas.hidden {
  display: none;
}
pre#log {
  /* Make it fill at least the space given to it but let it expand beyond
     (scrollbars in that tiny area are useless) */
  min-height: 100%;
  padding: 0.5rem 1rem;
  white-space: pre-wrap; /* same as .m-console-wrap */
  word-break: break-all;
  margin-top: 0; /* stupid defaults */
  color: #e6e6e6; /*var(--code-color)*/
  background-color: #282e36; /*var(--code-background-color)*/
  font-size: 0.8rem; /* so 80 columns fits into 640 pixels */
}

/* Styling for extra content */
h1 {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 600;
}
#sizer p {
  text-align: center;
}
code {
  font-family: monospace, monospace, monospace; /* https://en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
  font-size: 0.9em;
  padding: 0.125rem;
  color: #e6e6e6; /*var(--code-color)*/
  background-color: #282e36; /*var(--code-background-color)*/
}
